<div class="header">Room Management</div>
<div class="room-selector">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
       [attr.viewBox]="viewBox" preserveAspectRatio="xMidYMid">
    <g [attr.id]="room.id" [class.selected-room]="selectedRoom == room.id" *ngFor="let room of sortedRooms">
      <path class="room-bg" (click)="selectRoom(room.id)" [attr.d]="room.area.d" [style.filter]="isIE || isFirefox ? 'inherit': ''" />
      <path class="room-border" [attr.d]="room.border.d" />
      <path class="room-border room-border-glow" [attr.d]="room.border.d" [style.filter]="isIE || isFirefox ? 'inherit': ''" />
      <text class="room-text" (click)="selectRoom(room.id)" text-anchor="middle"
            [attr.x]="room.name.x" [attr.y]="room.name.y">{{room.name.text}}</text>
    </g>
  </svg>
</div>
