<nb-card size="small">
  <div class="consumption-table">
    <div class="table-header">
      <div>Electricity</div>
      <div class="subtitle">Consumption</div>
    </div>

    <nb-tabset fullWidth>
      <nb-tab *ngFor="let year of data" [tabTitle]="year.title" [active]="year.active">
        <div class="stats-month" *ngFor="let month of year.months">
          <div>
            <span class="month">{{ month.month }}</span>
            <span class="delta" [ngClass]="{ 'down': month.down }">{{ month.delta }}</span>
          </div>
          <div class="results">
            <b>{{ month.kWatts }}</b> kWh / <b>{{ month.cost }}</b> USD
          </div>
        </div>
      </nb-tab>
    </nb-tabset>
  </div>
</nb-card>