<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <ngx-status-card [title]="statusCard.title" [id]="statusCard.id" [state]="statusCard.status"
                     [type]="statusCard.type" (click)="selectControl(statusCard)">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-9 col-xl-12">
    <ngx-rooms (selectRoomDash)="selectRoomD($event)"></ngx-rooms>
  </div>
</div>


<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-weather></ngx-weather>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-electricity></ngx-electricity>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <ngx-security-cameras></ngx-security-cameras>
  </div>
</div>